.object {
  -webkit-transition: all .5s linear;
}

.rotate30 {
  -webkit-transform: rotate(-30deg);
}

body {
  background: red;
}

.paper {
  height: 800px;
  width: 800px;
  margin: 0 auto;
  position: relative;
  top: 200px;
  left: 100px;
}

.konewka {
  position: absolute;
  right: 0;
  top: 25px;
  cursor: pointer;
}

.woda {
  display: none;
  position: absolute;
  top: 200px;
  right: 280px;
}

.dasein {
  display: none;
  position: absolute;
  bottom: 275px;
  right: 555px;
}

.kwiatek {
  display: none;
  position: absolute;
  bottom: 675px;
  right: 760px;
}


