.object {
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  transition: all .5s linear;
}

.rotate360 {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rotate30 {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

body {
  background: red;
}

@font-face
{
  font-family: fontFromNet-BebasNeue;
  src: url('../fonts/bebas/BebasNeue.otf');
}

.titles {
  margin: 250px 0 0 250px;
  font-size: 100pt;
  font-family: fontFromNet-BebasNeue;
}

.paper {
  background: none;
  margin: 0 auto;
  position: absolute;
}

.konewka {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.woda {
  display: none;
  position: absolute;
}

.dasein {
  display: none;
  position: absolute;
}

.kwiatek {
  display: none;
  position: absolute;
}


