.object {
  -webkit-transition: all .5s linear;
}

.object:hover {
  -webkit-transform: rotate(-30deg);
}

#konewka {
  position: absolute;
  right: 0;
  top: 25px;
}

#woda {
  display: none;
  position: absolute;
  top: 200px;
  right: 280px;
}

#paper {
  height: 800px;
  width: 800px;
  margin: 0 auto;
  position: relative;
}
